<!DOCTYPE html>
<html lang= "en">
    <head>
            <link
            rel="stylesheet"
            href="https://unpkg.com/@shopify/polaris@5.12.0/dist/styles.css"
          />
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="#">
        <link rel= "stylesheet" href='{{ url_for("static", filename = "css/main.css") }}'>
        {% block head %}{% endblock %}
    </head>
    <body>
        
        {% block body %}{% endblock %}
    </body>
</html>