{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}
{% if mybestmat is not none %}

<!-- {% if mybestmat|length < 1 %}
<h4>It seems the product you entered doesnt have any match</h4>
 {% else %}  -->

 <table>
    {% for key,value in mybestmat[:5].iterrows() %}

    <tr>
        <td>{{ value['first'] }}</td>
        <td>{{ value['second'] }}</td>
        <td>{{ value['count'] }}</td>
        
    </tr>
    {% endfor %}
</table>

<!-- {% endif %} -->
{% else %}
{% endif %}

{% endblock %}

