<!-- {% extends 'base.html'%}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
      var refresh_id = setInterval(function() {
          $.get(
            "{{ url_for('thread_status') }}",
            function(data) {
              console.log(data);
              if (data.status == 'finished') {
                window.location.replace("{{ url_for('result') }}");
              }
            }
          )}
        , 1000);
    });
  </script>
{% endblock %}

{% block body %}
<h2> loading </h2>
{% endblock %} -->

<h2>count of each time a product has been sold in a grouped order (variante included as separate product</h2>

<table>
    {% for key,value in mostoftenSoldWithVar[:5].iterrows() %}

    <tr>
        <td>{{ value['Lineitem_name'] }}</td>
        <td>{{ value['count'] }}</td>
        <!-- <td>{{ value['count'] }}</td> -->
        
    </tr>
    {% endfor %}
</table>


<h2>count of each time a product has been sold in a grouped order (variante included as same product</h2>

<table>
    {% for key,value in mostoftenSoldNoVar[:5].iterrows() %}

    <tr>
        <td>{{ value['Lineitem_name'] }}</td>
        <td>{{ value['count'] }}</td>
        
    </tr>
    {% endfor %}
</table>